.bg-img-control {
  background-image: url("https://img.freepik.com/premium-vector/consultant-…r-talking-with-client-call-center_530733-2767.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
